.filter select {
  width: 170px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 2px #aaa;
  margin: 10px;
  background: var(--bs-body-bg);
}

.filter {
  text-align: center;
}

.filter input {
  color: var(--bs-heading-color);
  margin: 30px;
  width: 60%;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 2px #aaa;
  background: var(--bs-body-bg);
}

* {
  outline: none;
}

